@page
@model InversionGloblalWeb.Pages.Compras.NuevoModel
@{
    ViewData["Title"] = "Facturas";
}
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}
@section breadcrumb{
    <li class="breadcrumb-item">
        <a asp-page="./Index">Facturas</a>
    </li>

    <li class="breadcrumb-item active">
        <strong>Inclusión </strong>
    </li>
}
@section TitleAction{
    <a asp-page="./Index" class="nav-link text-dark"><i class="fa fa-arrow-circle-o-left "></i>  Regresar</a>
}
@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style>
        /*     .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }*/
        td {
            border-bottom-style: solid !important;
            border-bottom-width: 1px !important;
            border-bottom-color: #dec2e6 !important;
        }

        h3 {
            font-size: 13px !important;
        }

        th {
            background-color: transparent !important;
        }

        td p {
            font-weight: 300 !important;
        }

        .lab {
            font-weight: 400;
            font-size: 13px;
        }

        .lab2 {
            font-weight: 400;
            font-size: 13px;
        }

        .label {
            color: #fff !important;
            background-color: #57b846 !important;
            cursor: pointer;
            text-decoration: underline;
            background: none;
            font-size: 17px;
            padding: 8px 18px !important;
        }

        /*label
    {
        font-size: 15px;
    }*/

        #imgGalerias {
            display: none;
        }
    </style>
}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $(":input").inputmask();
                    $('.mi-selector').select2();
                    check(1);
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: true,
                order: [[0, "desc"]]

            });
        
        });
        var ImageBae64 = '';
            var Productos = [];
            var subtotal = 0;
            var impuestos = 0;
            var descuentos = 0;
            var totalComprobante = 0;

            var impuesto1 = 0;
            var impuesto2 = 0;
            var impuesto4 = 0;
            var impuesto8 = 0;
        var impuesto13 = 0;

        function readFilePrincipal(input) {
            if (input.files && input.files[0]) {
                const maxAllowSize = 512000;

                if (input.files[0].size > maxAllowSize) {

                    input.value = '';
                } else {



                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('imgPrincipalG').src = e.target.result;
                        //  console.log(e.target.result);
                        ImageBae64 = e.target.result;
                    }
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        var fileUploadPrincipal = document.getElementById('imgPrincipalUploadG');
        fileUploadPrincipal.onchange = function (e) {

            readFilePrincipal(e.srcElement);
        }


            function AgregarProductos() {


                var detalle = {

                    CodPro: $("#CodPro").val(),
                    NomPro: $("#NomPro").val(),
                    idTipoGasto: $("#idTipoGasto").val(),
                    Cantidad: $("#cantidad").val(),
                    PrecioUnitario: $("#PrecUni").val(),
                    MontoDescuento: $("#desc").val(),
                    ImpuestoTarifa: $("#TipoImpuesto").val(),
                    ImpuestoMonto: $("#ImpuestoMonto").val(),
                    MontoTotalLinea: 0,
                    Impuesto1: 0,
                    Impuesto2: 0,
                    Impuesto4: 0,
                    Impuesto8: 0,
                    Impuesto13: 0
                };

                switch ($("#TipoImpuesto").val()) {
                    case "1":
                        {
                            detalle.Impuesto1 += detalle.ImpuestoMonto;
                            break;
                        }
                    case "2":
                        {
                            detalle.Impuesto2 += detalle.ImpuestoMonto;
                            break;
                        }
                    case "4":
                        {
                            detalle.Impuesto4 += detalle.ImpuestoMonto;
                            break;
                        }
                    case "8":
                        {
                            detalle.Impuesto8 += detalle.ImpuestoMonto;
                            break;
                        }
                    case "13":
                        {
                            detalle.Impuesto13 += detalle.ImpuestoMonto;
                            break;
                        }
                }

                detalle.MontoTotalLinea = ((detalle.PrecioUnitario * detalle.Cantidad) - detalle.MontoDescuento) + parseFloat(detalle.ImpuestoMonto);

                var subtotalT = 0;
                var descuentoT = 0;
                var impuestoT = 0;
                var totalT = 0;
                subtotalT = parseFloat(detalle.PrecioUnitario) * parseFloat(detalle.Cantidad);
                descuentoT = parseFloat(detalle.MontoDescuento);
                impuestoT = parseFloat(detalle.ImpuestoMonto);
                totalT = parseFloat(detalle.MontoTotalLinea);

                subtotal += subtotalT;
                descuentos += descuentoT;
                impuestos += impuestoT;

                totalComprobante += totalT;

                var impuesto1T = parseFloat(detalle.Impuesto1);
                var impuesto2T = parseFloat(detalle.Impuesto2);
                var impuesto4T = parseFloat(detalle.Impuesto4);
                var impuesto8T = parseFloat(detalle.Impuesto8);
                var impuesto13T = parseFloat(detalle.Impuesto13);


                impuesto1 += impuesto1T;
                impuesto2 += impuesto2T;
                impuesto4 += impuesto4T;
                impuesto8 += impuesto8T;
                impuesto13 += impuesto13T;


                $("#subtotal").text(formatoDecimal(subtotal.toFixed(2)));
                $("#descuento").text(formatoDecimal(descuentos.toFixed(2)));
                $("#impuesto").text(formatoDecimal(impuestos.toFixed(2)));
                $("#total").text(formatoDecimal(totalComprobante.toFixed(2)));


                $("#impuesto1").text(formatoDecimal(parseFloat(impuesto1).toFixed(2)));
                $("#impuesto2").text(formatoDecimal(parseFloat(impuesto2).toFixed(2)));
                $("#impuesto4").text(formatoDecimal(parseFloat(impuesto4).toFixed(2)));
                $("#impuesto8").text(formatoDecimal(parseFloat(impuesto8).toFixed(2)));
                $("#impuesto13").text(formatoDecimal(parseFloat(impuesto13).toFixed(2)));


                Productos.push(detalle);
                LimpiarDatos();
                RellenaTabla();
            }

            function RellenaTabla() {
                var texto = '';

                $("#tbody").html('');

                for (var i = 0; i < Productos.length; i++) {
                    texto += '<tr>';

                    texto += '<td align="left" style="padding-top:15px;">  <p style="font-size:13px;">' + Productos[i].NomPro + '</p></td>';
                    texto += '<td align="center" style="padding-top:15px;">  <p style="font-size:13px;">' + Productos[i].Cantidad + '</p></td>';
                    texto += '<td align="right" style="padding-top:15px;">  <p style="font-size:13px;">' + formatoDecimal(Productos[i].PrecioUnitario) + '</p></td>';
                    texto += '<td align="right" style="padding-top:15px;">  <p style="font-size:13px;">' + formatoDecimal(Productos[i].MontoDescuento) + '</p></td>';
                    texto += '<td align="right" style="padding-top:15px;">  <p style="font-size:13px;">' + formatoDecimal(Productos[i].ImpuestoMonto) + '</p></td>';
                    texto += '<td align="right" style="padding-top:13px;">  <p style="font-size:13px;">' + formatoDecimal(Productos[i].MontoTotalLinea) + '</p></td>';
                    texto += '<td align="center" style="padding-top:13px;">    <a style="margin-left: -1%; position: inherit !important;" onclick = "javascript: EliminaProducto(' + i + ')" title="Eliminar" class="fa fa-trash icono"></a> ';
                    texto += '</tr>'
                }
                $("#tbody").html(texto);
            }

            function EliminaProducto(campo) {
                Swal.fire({
                    title: '¿Desea eliminar este producto?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {

                        var subtotalT = 0;
                        var descuentoT = 0;
                        var impuestoT = 0;

                        subtotalT = parseFloat(Productos[campo].PrecioUnitario) * parseFloat(Productos[campo].Cantidad);
                        descuentoT = parseFloat(Productos[campo].MontoDescuento);
                        impuestoT = parseFloat(Productos[campo].ImpuestoMonto);

                        totalT = parseFloat(Productos[campo].MontoTotalLinea);

                        subtotal -= subtotalT;
                        descuentos -= descuentoT;
                        impuestos -= impuestoT;

                        totalComprobante -= totalT;

                        var impuesto1T = parseFloat(Productos[campo].Impuesto1);
                        var impuesto2T = parseFloat(Productos[campo].Impuesto2);
                        var impuesto4T = parseFloat(Productos[campo].Impuesto4);
                        var impuesto8T = parseFloat(Productos[campo].Impuesto8);
                        var impuesto13T = parseFloat(Productos[campo].Impuesto13);


                        impuesto1 -= impuesto1T;
                        impuesto2 -= impuesto2T;
                        impuesto4 -= impuesto4T;
                        impuesto8 -= impuesto8T;
                        impuesto13 -= impuesto13T;


                        $("#subtotal").text(formatoDecimal(subtotal.toFixed(2)));
                        $("#descuento").text(formatoDecimal(descuentos.toFixed(2)));
                        $("#impuesto").text(formatoDecimal(impuestos.toFixed(2)));
                        $("#total").text(formatoDecimal(totalComprobante.toFixed(2)));


                        $("#impuesto1").text(formatoDecimal(parseFloat(impuesto1).toFixed(2)));
                        $("#impuesto2").text(formatoDecimal(parseFloat(impuesto2).toFixed(2)));
                        $("#impuesto4").text(formatoDecimal(parseFloat(impuesto4).toFixed(2)));
                        $("#impuesto8").text(formatoDecimal(parseFloat(impuesto8).toFixed(2)));
                        $("#impuesto13").text(formatoDecimal(parseFloat(impuesto13).toFixed(2)));

                        Productos.splice(campo, 1);
                        RellenaTabla();

                    }
                })
            }

            function LimpiarDatos() {
                $("#CodPro").val("");
                $("#NomPro").val("");
                $("#cantidad").val("");
                $("#PrecUni").val(0);
                $("#desc").val(0);
                $("#TipoImpuesto").val("NULL").trigger('change');
                $("#idTipoGasto").val("NULL").trigger('change');
                $("#ImpuestoMonto").val(0);

            }
        function mask() {
            switch ($("#idCliente").val()) {
                case "01":
                    {
                        $("#CodCliente").inputmask({ "mask": "9-9999-9999" });
                        break;
                    }
                case "02":
                    {
                        $("#CodCliente").inputmask({ "mask": "9-999-999999" });
                        break;
                    }
                case "03":
                    {
                        $("#CodCliente").inputmask({ "mask": "999999999999" });
                        break;
                    }
                case "04":
                    {
                        $("#CodCliente").inputmask({ "mask": "9999999999" });
                        break;
                    }
                default:
                    {
                        break;
                    }
            }
        }
        function mask2() {
            switch ($("#idProveedor").val()) {
                case "01":
                    {
                        $("#CodProveedor").inputmask({ "mask": "9-9999-9999" });
                        break;
                    }
                case "02":
                    {
                        $("#CodProveedor").inputmask({ "mask": "9-999-999999" });
                        break;
                    }
                case "03":
                    {
                        $("#CodProveedor").inputmask({ "mask": "999999999999" });
                        break;
                    }
                case "04":
                    {
                        $("#CodProveedor").inputmask({ "mask": "9999999999" });
                        break;
                    }
                default:
                    {
                        break;
                    }
            }
        }

             function Generar()
             {
                 var checkbox1 = document.getElementById("simp");
                 var checkbox2 = document.getElementById("ext");
      var EncCompras =
            {
                ClaveHacienda: $("#CHacienda").val(),
                ConsecutivoHacienda: $("#ConsHacienda").val(),

                TipoIdentificacionCliente: $("#idCliente").val(),
                NumFactura: $("#NumFactura").val(),
                CodProveedor: $("#CodProveedor").val(),
                NomProveedor: $("#NomProveedor").val(),
                FecFactura: $("#FecFactura").val(),
                CodigoActividadEconomica: $("#CodActividadEconomica").val() ,
                CodMoneda: $("#CodMoneda").val(),
                CodCliente: $("#CodCliente").val(),
                NomCliente: $("#NomCliente").val(),
                TotalVenta: $("#subtotal").text(),
                TotalImpuesto: $("#impuesto").text(),
                TotalDescuentos: $("#descuento").text(),
                Impuesto1: $("#impuesto1").text() ,
                Impuesto2: $("#impuesto2").text()  ,
                Impuesto4: $("#impuesto4").text(),
                Impuesto8: $("#impuesto8").text(),
                Impuesto13: $("#impuesto13").text(),
                TotalComprobante: $("#total").text(),
          ImagenBase64: (ImageBae64 === '' ? '' : ImageBae64.toString().replace('data:image/jpeg;base64,', '').replace('data:image/png;base64,', '')),
          RegimenSimplificado: checkbox1.checked,
          FacturaExterior: checkbox2.checked
            };

        var DetCompras = Productos;
        var recibido = {
                EncCompras,
                DetCompras
            };
         Swal.fire({
                    title: '¿Desea enviar a guardar esta factura?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        var recibidos = JSON.stringify(recibido);

                        $.ajax({
                            type: 'POST',

                            url: '@Url.Page("Nuevo", "Generar")',
                            dataType: 'text',
                            data: { recibidos: recibidos.toString() },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {
                                    $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }

                                if (json == "true") {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                           location.reload();
                                        }
                                    })

                                } else {
                                    $("#divProcesando").hide();

                                    if ($('.modal-backdrop').is(':visible')) {

                                        $('body').removeClass('modal-open');
                                        $('.modal-backdrop').hide();
                                    }
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar'

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {
                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                            }
                        });
                    }
                });
        }

        function check(i) {
             
            var checkbox1 = document.getElementById("simp");
            var checkbox2 = document.getElementById("ext");
            if (i == "1") {
                console.log("aca 1");
                checkbox2.checked = false;
                checkbox1.checked = true;
                $("#CHacienda").removeAttr("readonly");
                $("#ConsHacienda").removeAttr("readonly");
                
            } else {
                console.log("aca 2");
                checkbox2.checked = true;
                checkbox1.checked = false;
                $("#CHacienda").attr("readonly", "readonly");
                $("#ConsHacienda").attr("readonly", "readonly");

                $("#CHacienda").val("");
                $("#ConsHacienda").val("");
            }
        }
    </script>
}

<div class="ibox">
    <div class="ibox-content">
        <center>
            <img id="imgPrincipalG" src="/img/cm.jpg" alt="image" style="width:300px; height:300px;border-radius: 15px;" class="img-fluid" />
            <br />
            <br />
           
            <label style="font-size: 13px;" class="label" for="imgPrincipalUploadG">Subir Imagen</label><input id="imgPrincipalUploadG" accept=".jpg, .png" style="opacity:0; display:none;" type="file" name="imgPrincipalUploadG" />

        </center>
    </div>
</div>

<div class="ibox">

    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6">

                <label class="col-form-label">Clave Hacienda:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" asp-for="Objeto.EncCompras.ClaveHacienda" maxlength="50" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="CHacienda" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Tipo Indentificación:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <select id="idProveedor" onchange="javascript: mask2()" class="form-control  mi-selector">
                            <option value="NULL" selected>-Identificación-</option>


                            <option value="01">Física</option>
                            <option value="02">Jurídica</option>
                            <option value="03">DIMEX</option>
                            <option value="04">NITE</option>

                        </select>
                    </div>
                </div>


                <label class="col-form-label">Cédula Proveedor:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text"  id="CodProveedor" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Nombre Proveedor:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" asp-for="Objeto.EncCompras.NomProveedor" id="NomProveedor" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Tipo Indentificación:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <select asp-for="Objeto.EncCompras.TipoIdentificacionCliente" onchange="javascript: mask();" id="idCliente" class="form-control  mi-selector">
                            <option value="NULL" selected>-Identificación-</option>


                            <option value="01">Física</option>
                            <option value="02">Jurídica</option>
                            <option value="03">DIMEX</option>
                            <option value="04">NITE</option>

                        </select>
                    </div>
                </div>

                <label class="col-form-label">Cédula Cliente:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text"   id="CodCliente" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Nombre Cliente:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" asp-for="Objeto.EncCompras.NomProveedor" id="NomCliente" class="form-control">
                    </div>
                </div>

                


            </div>

            <div class="col-sm-6">

                <label class="col-form-label">Consecutivo Hacienda:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" asp-for="Objeto.EncCompras.ConsecutivoHacienda" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="ConsHacienda" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Número Factura:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" asp-for="Objeto.EncCompras.NumFactura" id="NumFactura" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Fecha Factura:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="date" asp-for="Objeto.EncCompras.FecFactura" id="FecFactura" class="form-control">
                    </div>
                </div>


                <label class="col-form-label">Código Actividad Económica:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" asp-for="Objeto.EncCompras.CodigoActividadEconomica" id="CodActividadEconomica" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Moneda:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <select asp-for="Objeto.EncCompras.CodMoneda" id="CodMoneda" class="form-control  mi-selector">
                            <option value="NULL" selected>-Moneda-</option>


                            <option value="CRC">Colones</option>
                            <option value="USD">Dólares</option>
                            <option value="EUR">Euros</option>


                        </select>
                    </div>
                </div>

                <label class="col-form-label">Tipo Factura:</label>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="checkbox" style="text-decoration: none; font-size: 13px;">
                            Regimen Simplificado
                            <input type="checkbox" id="simp" onchange="javascript: check('1');">
                            <span class="check"></span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label class="checkbox" style="text-decoration: none; font-size: 13px;">
                            Factura Exterior
                            <input type="checkbox" id="ext" onchange="javascript: check('2');">
                            <span class="check"></span>
                        </label>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-3">
                <label class="col-form-label">Código Producto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" maxlength="50" id="CodPro" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Monto Descuento:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" id="desc" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col-form-label">Nombre Producto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="text" maxlength="200" id="NomPro" class="form-control">
                    </div>
                </div>
                <label class="col-form-label">Tipo Impuesto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <select id="TipoImpuesto" class="form-control  mi-selector">
                            <option value="NULL" selected>-IVA-</option>


                            <option value="1">I.V.A 1</option>
                            <option value="2">I.V.A 2</option>
                            <option value="4">I.V.A 4</option>
                            <option value="8">I.V.A 8</option>
                            <option value="13">I.V.A 13</option>


                        </select>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <label class="col-form-label">Cantidad:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" id="cantidad" class="form-control">
                    </div>
                </div>
                <label class="col-form-label">Monto Impuesto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" id="ImpuestoMonto" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="col-form-label">Precio Unitario:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <input type="number" id="PrecUni" class="form-control">
                    </div>
                </div>

                <label class="col-form-label">Tipo Gasto:</label>
                <div class="form-group row">
                    <div class="col-sm-12">

                        <select id="idTipoGasto" class="form-control  mi-selector">
                            <option value="NULL" selected>-Tipo Gasto-</option>
                            @foreach (var item in Model.Gastos)
                            {
                                <option value="@item.idTipoGasto">@item.Nombre</option>
                            }

                            


                        </select>
                    </div>
                </div>



               
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4" style="text-align: right;">
                        <button onclick="javascript: AgregarProductos();" class="btn btn-w-m btn-primary" title="Agregar a la lista">+ Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">

                <div class="table-responsive tableFixHead" style=" overflow-y:scroll;    z-index: 5; height: 300px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th align="center" style=" text-align: center;"><h3>Nombre</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Cantidad </h3></th>
                                <th align="center" style=" text-align: center;"><h3>Precio Unitario</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Descuento</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Impuesto</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Total</h3></th>
                                <th align="center" style=" text-align: center;"><h3>Eliminar</h3></th>


                            </tr>

                        </thead>
                        <tbody id="tbody">
                        </tbody>
                    </table>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4" style="text-align: right;">
                        <div class="row">

                            <div class="col-sm-12">

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table; font-weight: 500 !important; font-style: normal;">SubTotal:</label>

                                            </td>
                                            <td>
                                                <label id="subtotal" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>

                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Descuento:</label>

                                            </td>
                                            <td>
                                                <label id="descuento" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Impuesto:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 1:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto1" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 2:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto2" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 4:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto4" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 8:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto8" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> I.V.A 13:</label>

                                            </td>
                                            <td>
                                                <label id="impuesto13" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td style="text-align: center;">
                                                <label class="col-form-label" style="display: inline-table;  font-weight: 500 !important; font-style: normal;"> Total:</label>

                                            </td>
                                            <td>
                                                <label id="total" style="display: inline-table;  font-weight: bold !important; font-style: normal;">0</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button onclick="javascript: Generar();" class="btn btn-w-m btn-primary" title="Guardar">Guardar Cambios</button>
   
</div>