/*
 *
 *   SKIN 4 - INSPINIA - Responsive Admin Theme
 *   NAME - Light-Skin
 *
*/
body.light-skin {
    background-color: #f9f9f9;
    color: #3e5476;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.light-skin {
    /* For handle diferent bg color in MVC version */
}

    .light-skin .select2-container--default .select2-selection--single,
    .light-skin .select2-container--default .select2-selection--multiple,
    .light-skin .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 2.05rem;
    }

        .light-skin .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 32px;
        }

    .light-skin .navbar-fixed-top,
    .light-skin .navbar-static-top {
        background-color: transparent;
    }

    .light-skin .Dashboard_2 .navbar.navbar-static-top,
    .light-skin .Dashboard_3 .navbar.navbar-static-top,
    .light-skin .Dashboard_4_1 .navbar.navbar-static-top,
    .light-skin .ComposeEmail .navbar.navbar-static-top,
    .light-skin .EmailView .navbar.navbar-static-top,
    .light-skin .Inbox .navbar.navbar-static-top,
    .light-skin .Metrics .navbar.navbar-static-top,
    .light-skin .Dashboard_5 .navbar.navbar-static-top {
        background: transparent;
    }

    .light-skin.fixed-nav .navbar-fixed-top {
        background-color: #FFFFFF;
    }

    .light-skin.mini-navbar .nav .nav-second-level {
        background-color: #f9f9f9;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .light-skin.fixed-sidebar.mini-navbar .nav .nav-second-level,
    .light-skin.canvas-menu.mini-navbar .nav .nav-second-level {
        box-shadow: none;
    }

    .light-skin.canvas-menu nav.navbar-static-side {
        background-color: #f9f9f9;
    }

    .light-skin.canvas-menu.mini-navbar nav.navbar-static-side {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .light-skin.mini-navbar .nav-header {
        background-color: #f9f9f9;
    }

    .light-skin #page-wrapper.gray-bg,
    .light-skin #page-wrapper.bg-muted {
        background-color: #f9f9f9;
    }

    .light-skin .logo-element {
        color: #7c899a;
    }

    .light-skin nav > .sidebar-collapse > ul > li a {
        color: #7c899a;
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .light-skin nav > .sidebar-collapse .nav-second-level li a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .light-skin .nav > li.active > a {
        color: #384d6c;
        font-weight: 700;
    }

    .light-skin .nav-header a {
        color: #384d6c;
    }

    .light-skin .navbar-default .nav > li > a:hover,
    .light-skin .navbar-default .nav > li > a:focus {
        background-color: inherit;
        color: #384d6c;
        font-weight: 700;
    }

    .light-skin .nav-header .font-bold {
        font-size: 12px;
        font-weight: 700;
        color: #384d6c;
    }

    .light-skin .nav-header .text-muted {
        color: #8291a3 !important;
        font-size: 12px;
    }

    .light-skin .nav-header {
        background-color: #f9f9f9;
        background-image: none;
        padding: 20px 25px 20px 25px;
    }

    .light-skin .profile-element img {
        border-radius: 6px !important;
    }

    .light-skin .nav > li.active {
        background: #f9f9f9;
    }

    .light-skin ul.nav-second-level {
        background: #f9f9f9;
    }

    .light-skin .dashboard-header {
        border-bottom: none !important;
        border-top: 0;
        border-radius: 4px;
        padding: 20px 20px 20px 20px;
        margin: 10px 10px 0 10px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .light-skin .page-heading {
        padding-bottom: 10px;
    }

    .light-skin .ibox-title {
        background-color: transparent;
        border: none;
        padding-left: 5px;
    }

        .light-skin .ibox-title h5 {
            font-size: 12px;
        }

    .light-skin .ibox-tools {
        right: 5px;
    }

        .light-skin .ibox-tools a {
            color: #7c899a !important;
        }

    .light-skin .ibox-heading {
        background-color: #fff;
        margin-bottom: 20px;
    }

    .light-skin .ibox-content {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: none;
        background-color: #FFFFFF;
    }

    .light-skin .breadcrumb {
        background-color: transparent;
    }

    .light-skin .minimalize-styl-2 {
        margin: 14px 5px 5px 30px;
    }

    .light-skin .footer {
        border: none;
        background: none;
    }

    .light-skin .sidebar-panel {
        background-color: #fff;
    }

    .light-skin #page-wrapper > .border-bottom,
    .light-skin .ibox.border-bottom {
        border-bottom: transparent !important;
    }

    .light-skin .fh-breadcrumb {
        height: calc(100% - 176px);
    }

    .light-skin.top-navigation #page-wrapper > .border-bottom {
        border-bottom: 1px solid #e7eaec !important;
    }

    .light-skin .wrapper.white-bg {
        background-color: transparent;
    }

    .light-skin .ibox-tools a.btn-primary {
        color: #FFFFFF !important;
    }

    .light-skin .chat-discussion {
        background-color: #FFFFFF;
    }

    .light-skin .ibox-footer {
        margin-top: 4px;
        border: none;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    .light-skin .contact-box,
    .light-skin .social-feed-box,
    .light-skin .vertical-timeline-content {
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
        border: none;
    }

    .light-skin .navbar-default .landing_link a,
    .light-skin .navbar-default .special_link a {
        color: #FFFFFF;
    }

body.md-skin {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
}

.md-skin .nav-header {
    background: url("patterns/4.png") no-repeat;
}

.md-skin .label,
.md-skin .badge {
    font-family: 'Roboto';
}

.md-skin ul.nav-second-level {
    background-color: inherit;
}

.md-skin .font-bold {
    font-weight: 500;
}

.md-skin .wrapper-content {
    padding: 30px 20px 40px;
}

@media (max-width: 768px) {
    .md-skin .wrapper-content {
        padding: 30px 0 40px;
    }
}

.md-skin .page-heading {
    border-bottom: none !important;
    border-top: 0;
    padding: 0 10px 20px 10px;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.34), 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.md-skin .full-height-layout .page-heading {
    border-bottom: 1px solid #e7eaec !important;
}

.md-skin .ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

    .md-skin .ibox.border-bottom {
        border-bottom: none !important;
    }

.md-skin .ibox-title,
.md-skin .ibox-content {
    border-style: none;
}

    .md-skin .ibox-title h5 {
        font-size: 16px;
        font-weight: 400;
    }

.md-skin a.close-canvas-menu {
    color: #ffffff;
}

.md-skin .welcome-message {
    color: #ffffff !important;
    font-weight: 300;
}

.md-skin #top-search::-moz-placeholder {
    color: #ffffff;
}

.md-skin #top-search::-webkit-input-placeholder {
    color: #ffffff;
}

.md-skin #nestable-output,
.md-skin #nestable2-output {
    font-family: 'Roboto', lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
}

.md-skin .landing-page {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

    .md-skin .landing-page.navbar-default.navbar-scroll {
        background-color: #fff !important;
    }

    .md-skin .landing-page.navbar-default {
        background-color: transparent !important;
        box-shadow: none;
    }

        .md-skin .landing-page.navbar-default .nav li a {
            font-family: 'Roboto', helvetica, arial, sans-serif;
        }

.md-skin .nav > li > a {
    color: #676a6c;
    padding: 14px 20px 14px 25px;
}

.md-skin .nav.navbar-right > li > a {
    color: #ffffff;
}

.md-skin .nav > li.active > a {
    color: #5b5d5f;
    font-weight: 700;
}

.md-skin .navbar-default .nav > li > a:hover,
.md-skin .navbar-default .nav > li > a:focus {
    font-weight: 700;
    color: #5b5d5f;
}

.md-skin .nav .open > a,
.md-skin .nav .open > a:hover,
.md-skin .nav .open > a:focus {
    background: #1ab394;
}

.md-skin .navbar-top-links li {
    display: inline-table;
}

.md-skin .navbar-top-links .dropdown-menu li {
    display: block;
}

.md-skin .pace-done .nav-header {
    transition: all 0.4s;
}

.md-skin .nav > li.active {
    background: #f8f8f9;
}

.md-skin .nav-second-level li a {
    padding: 7px 10px 7px 52px;
}

.md-skin .nav-third-level li a {
    padding-left: 62px;
}

.md-skin .navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}

.md-skin .nav > li > a {
    font-weight: 400;
}

.md-skin .navbar-static-side .nav > li > a:focus,
.md-skin .navbar-static-side .nav > li > a:hover {
    background-color: inherit;
}

.md-skin .navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: inherit;
}

.md-skin .nav-header .navbar-fixed-top a {
    color: #ffffff;
}

.md-skin .nav-header .text-muted {
    color: #ffffff !important;
}

.md-skin .navbar-form-custom .form-control {
    font-weight: 300;
}

.md-skin .mini-navbar .nav-second-level {
    background-color: inherit;
}

.md-skin .mini-navbar li.active .nav-second-level {
    left: 65px;
}

.md-skin .canvas-menu.mini-navbar .nav-second-level {
    background: inherit;
}

.md-skin .pace-done .navbar-static-side,
.md-skin .pace-done .nav-header,
.md-skin .pace-done li.active,
.md-skin .pace-done #page-wrapper,
.md-skin .pace-done .footer {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.md-skin .navbar-fixed-top {
    background: #fff;
    transition-duration: 0.4s;
    z-index: 2030;
    border-bottom: none !important;
}

.md-skin .navbar-fixed-top,
.md-skin .navbar-static-top {
    background-color: #1ab394 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin .navbar-static-side {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin #right-sidebar {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
    z-index: 900;
}

.md-skin .white-bg .navbar-fixed-top,
.md-skin .white-bg .navbar-static-top {
    background: #fff !important;
}

.md-skin .contact-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: none;
}

.md-skin .dashboard-header {
    border-bottom: none !important;
    border-top: 0;
    padding: 20px 20px 20px 20px;
    margin: 30px 20px 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
    .md-skin .dashboard-header {
        margin: 20px 0 0 0;
    }
}

.md-skin ul.notes li div {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin .file {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin .mail-box {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 0;
    margin-bottom: 20px;
    border: none;
}

.md-skin .mail-box-header {
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 30px 20px 20px 20px;
}

.md-skin .mailbox-content {
    border: none;
    padding: 20px;
    background: #ffffff;
}

.md-skin .social-feed-box {
    border: none;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.md-skin.landing-page .navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: none;
}

    .md-skin.landing-page .navbar-default.navbar-scroll,
    .md-skin.landing-page.body-small .navbar-default {
        background-color: #ffffff !important;
    }

.md-skin.landing-page .nav > li.active {
    background: inherit;
}

.md-skin.landing-page .navbar-scroll .navbar-nav > li > a {
    padding: 20px 10px;
}

.md-skin.landing-page .navbar-default .nav li a {
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

.md-skin.landing-page .nav > li > a {
    padding: 25px 10px 15px 10px;
}

.md-skin.landing-page .navbar-default .navbar-nav > li > a:hover,
.md-skin.landing-page .navbar-default .navbar-nav > li > a:focus {
    background: inherit;
    color: #1ab394;
}

.md-skin.landing-page.body-small .nav.navbar-right > li > a {
    color: #676a6c;
}

.md-skin .landing_link a,
.md-skin .special_link a {
    color: #ffffff !important;
}

.md-skin.canvas-menu.mini-navbar .nav-second-level {
    background: #f8f8f9;
}

.md-skin.mini-navbar .nav-second-level {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

    .md-skin.mini-navbar .nav-second-level li a {
        padding-left: 0;
    }

.md-skin.mini-navbar.fixed-sidebar .nav-second-level li a {
    padding-left: 52px;
}

.md-skin.top-navigation .nav.navbar-right > li > a {
    padding: 15px 20px;
    color: #676a6c;
}

.md-skin.top-navigation .nav > li a:hover,
.md-skin .top-navigation .nav > li a:focus,
.md-skin.top-navigation .nav .open > a,
.md-skin.top-navigation .nav .open > a:hover,
.md-skin.top-navigation .nav .open > a:focus {
    color: #1ab394;
    background: #ffffff;
}

.md-skin.top-navigation .nav > li.active a {
    color: #1ab394;
    background: #ffffff;
}

.md-skin.fixed-nav #side-menu {
    background-color: #fff;
}

.md-skin.fixed-nav #wrapper.top-navigation #page-wrapper {
    margin-top: 0;
}

.md-skin.fixed-sidebar.mini-navbar #page-wrapper {
    margin: 0 0 0 0;
}

.md-skin.body-small.fixed-sidebar.mini-navbar .navbar-static-side {
    width: 220px;
    background-color: #ffffff;
}

.md-skin.boxed-layout #wrapper {
    background-color: #ffffff;
}

.md-skin.canvas-menu nav.navbar-static-side {
    z-index: 2001;
    background: #ffffff;
    height: 100%;
    position: fixed;
    display: none;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        min-height: 100vh;
    }

    .navbar-static-side {
        z-index: 2001;
        width: 220px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        min-height: 100vh;
        width: 100%;
    }

    .body-small .navbar-static-side {
        display: block;
        z-index: 2001;
        width: 0;
        overflow: hidden;
    }

    .body-small.mini-navbar .navbar-static-side {
        display: block;
        overflow: visible;
    }

    .lock-word {
        display: none;
    }

    .navbar-form-custom {
        display: none;
    }

    .navbar-header {
        display: inline;
        float: left;
    }

    .sidebar-panel {
        z-index: 2;
        position: relative;
        width: auto;
        min-height: 100% !important;
    }

    .sidebar-content .wrapper {
        padding-right: 0;
        z-index: 1;
    }

    .fixed-sidebar.body-small .navbar-static-side {
        display: none;
        z-index: 2001;
        position: fixed;
        width: 220px;
    }

    .fixed-sidebar.body-small.mini-navbar .navbar-static-side {
        display: block;
    }

    .ibox-tools {
        float: none;
        text-align: right;
        display: block;
    }

    .navbar-static-side {
        display: none;
    }

    body:not(.mini-navbar) {
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
        background-color: #f3f3f4;
    }
}

@media (max-width: 350px) {
    .timeline-item .date {
        text-align: left;
        width: 110px;
        position: relative;
        padding-top: 30px;
    }

        .timeline-item .date i {
            position: absolute;
            top: 0;
            left: 15px;
            padding: 5px;
            width: 30px;
            text-align: center;
            border: 1px solid #e7eaec;
            background: #f8f8f8;
        }

    .timeline-item .content {
        border-left: none;
        border-top: 1px solid #e7eaec;
        padding-top: 10px;
        min-height: 100px;
    }

    .nav.navbar-top-links li.dropdown {
        display: none;
    }

    .ibox-tools {
        float: none;
        text-align: left;
        display: inline-block;
    }
}
/* Only demo */
@media (max-width: 1000px) {
    .welcome-message {
        display: none;
    }
}

@media print {
    nav.navbar-static-side {
        display: none;
    }

    body {
        overflow: visible !important;
    }

    #page-wrapper {
        margin: 0;
    }
}

label.error {
    top: 31px;
    left: 1% !important;
    padding: 5px !important;
}

a {
    color: #95BF47;
}